@import "../../variables";

.animImg {
  position: relative;
  text-align: center;
  margin: 48px 0;
  padding: 20px 0;
  overflow: hidden;
  .animSlogan {
    display: inline-block;
    font-size: 100px;
    font-weight: 700;
    color: $DarkTeal;
    text-transform: uppercase;
    margin-bottom: 60px;
    padding: 0 16px;
    width: 60%;
    line-height: 100px;
  }
  .loopBox {
    display: flex;
    align-items: baseline;
    gap: 24px;
    white-space: nowrap;

    .img {
      width: 320px;
      border-radius: 500px 500px 80px 80px;
    }

    .large-img {
      height: 400px;
    }

    .small-img {
      height: 300px;
    }

    .svg-img {
      width: 110px;
      height: 110px;
    }
  }
}
